#display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(240, 248, 255, 0.25);
    border-radius: 29px;
    padding: 80px;
}

h5{
    margin: 0;
}

.dataBox{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-items: right;
    align-items: center;
}

.addUserBox{
    display: flex;
    flex-direction: column;
}

.tablePlant{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.size1{
    background-color: #E1E1E1;
    width: 187px;
    height: 55px;
    border: black solid 1px;
    box-shadow: 5px 10px;
}

#listPlant{
    display: flex;
    flex-direction: column;
}

.itemsPlant{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.dataUserBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1E1E1;
    min-height: 400px;
    min-width: 800px;
    margin-bottom: 30px;
}

.dataSearchBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1E1E1;
    min-height: 300px;
    min-width: 800px;
    margin-bottom: 30px;
}

.LoginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.defInput{
    margin-top: 10px;
    height: 30px;
    width: 200px;
}


.userbuttonBox{
    display: flex;
    justify-content: space-evenly;
}

.buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    min-width: 1000px;
    min-height: 500px !important;
}


ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.nav-links{
    display: flex;
    flex-direction: row;
    background-color: #35784C;
    min-height: 60px;
}

a{
    color: black;
}

a:active{
    color: white;
}

a:link{
    text-decoration: none;
}

.imgBox{
    margin-bottom: 20px;
}

.formBox{
    display: flex;
    flex-direction: row;
}

#signIn{
    margin-top: 11px;
}

.animateCursor{
    cursor: pointer;
}

ul{
    margin-bottom: 10px;
}

.boxInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    min-width: 400px;
    margin-bottom: 10px;
    background-color: #E1E1E1;
}

.HeadBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 5px;
    background-color: #E1E1E1;
}

.center{
    display: flex;
   align-items: center;
}

#status{
    color: greenyellow;
}

#logout{
    float: right;
    margin-top: -55px;
    margin-right: 40px;
}

.size1:hover{
    background-color: rgb(211, 74, 74);
}

.size1:active{
    margin-right: -6px;
    margin-top: 6px;
    box-shadow: 1px 1px;
}

.size1{
    font-family: 'Kanit', sans-serif
}

#searchBtn{
    height: 36px;
    font-family: 'Kanit', sans-serif
}

/*table*/
table, td {
    border: 1px solid black;
    padding: 0;
    border-spacing: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  

  th, td {
    text-align: left;
    padding: 8px;
 
  }

  tr:nth-child(odd) {background-color: #beb0b08a; }
  tr:first-child{
      background-color: white;
  }
  th:first-child{
      display: none;
  }
  td:first-child{
      display: none;
  }
  td:not(:first-child){
      min-width: 50px; 
      line-height: 20px;
      overflow-wrap: break-word;
  }

  th:not(:first-child){
      text-align: center;
  }
