html { 
    background: url("./image/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: auto;
}

body {
    font-family: 'Kanit', sans-serif
}