.buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 600px;
    align-items: center;
}

.decoratedButton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E1E1E1;
    width: 220px;
    height: 200px;
    border-radius: 5px ;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14pt;
}